/* BlockNote Editor Styling */
.blockNoteEditor {
  background-color: white !important;
  color: black !important;
}

.blockNoteEditor .bn-editor {
  background-color: white !important;
  color: black !important;
}

.blockNoteEditor .bn-block-content {
  background-color: white !important;
  color: black !important;
}

.blockNoteEditor .bn-inline-content {
  color: black !important;
}

/* Ensure formatting toolbar has proper styling */
.blockNoteEditor .bn-formatting-toolbar {
  background-color: white !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1) !important;
}

.blockNoteEditor .bn-formatting-toolbar-button {
  color: #374151 !important;
}

.blockNoteEditor .bn-formatting-toolbar-button:hover {
  background-color: #f3f4f6 !important;
}

/* Side menu styling */
.blockNoteEditor .bn-side-menu {
  background-color: white !important;
}

.blockNoteEditor .bn-side-menu-button {
  color: #374151 !important;
}

.blockNoteEditor .bn-side-menu-button:hover {
  background-color: #f3f4f6 !important;
}